/* CSS STYLES FOR ESME SITE */

/* GOOGLE FONTS */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,400italic|Quicksand:400,700|The+Girl+Next+Door);


/*------=structure------*/

div {
	display: block;
}

body {
    color: #717070;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt; 
}

section {
	padding: 80px 0;
}

@media (max-width: 767px) {
	section {
		padding: 30px 0;
	}
}

.bio {
    font-size: 80%;
    line-height: 160%;
}

.bio-top, p.small {
    font-size: 80%; 
}

.bio-top {
	margin-top: 40px;
}

.quote {
	font-size: 80%;
	line-height: 160%;
	font-style: italic;
}

.quote span {
	display: block;
	font-weight: 600;
}

@media (min-width : 992px) {
	.bio-top {
		margin-top: 0;
	}
}

.schedule {
	color: #717070;
    font-size: 11pt;
}

.schedule-header {
	color: #a31aa3;
    font-size: 16pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pricing {
	padding: 30px 0;
	border-bottom: 1px solid #717070;
}

.pricing h3 {
	margin: 0;
}

.pricing:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
}

header {
	height: 7%;
	background-color: #fff;
	color: #a31aa3;
}

/*#content {
	padding-top: 3.16%;
	min-height: 21.05%;
	margin-bottom: 100px;
}*/

em {
	font-style: italic;
	font-size: 70%;
}

/* UTILITY CLASSES*/
.mt-30 {
	margin-top: 30px;
}

/* OTHER CSS */

#logo {
	width: 30%;  
	position: relative;
	margin: 1% 0% 0% 2%;
	height: auto;
	display: inline;
}

.call-out-text {
	color: #a31aa3;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15%;
    padding-top: 0px;
    font-size: 125%;
    font-style: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
}

header h1 {
	color: #a31aa3;
	font-size: 350%;
	height: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

h1 {
	color: #a31aa3;
	font-weight: 400%;
	font-size: 350%;
	margin-top: 0;
	margin-bottom: 40px;
}

@media (max-width : 768px) {
	h1, h1.center {
		color: #a31aa3;
		font-size: 250%;
		margin-top: 30px;
		margin-bottom: 30px; 
	}
}

h2 {
	color: #a31aa3;
	font-weight: 400%;
	font-size: 250%;
	margin-top: 0;
	margin-bottom: 35px;
}

@media (max-width : 768px) {
	h2 {
		color: #a31aa3;
		font-size: 150%;
		margin-top: 30px;
		margin-bottom: 30px; 
	}
}

h3 {
	color: #a31aa3;
	font-weight: 450%;
	font-size: 150%;
	margin-top: 25px;
	margin-bottom: 20px;
}

h4 {
	color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5%;
    padding-top: 5%;
    font-size: 87.5%;
    font-size: 100%;
    margin-top: 25px;
	margin-bottom: 25px;
}

/*--Columns and wrappers--*/

.center {
	text-align: center;
}

hr {
	border: 0;
	height: 2px;
	background: #0a7587;
	margin: 60px 0;
}

.instructor-preview {
	margin-bottom: 40px;
}

.instructor-preview h3 {
	margin: 10px 0;
}

.instructor-preview span {
	font-size: 75%;
	font-style: italic;
	display: block;
	margin-top: -10px;
}

.instructor {
	display: block;
	height: 3%;
	color: #717070;
	border: none;
	margin: 3% 0% 3% 0%;
    -webkit-margin-before: 4em;
    -webkit-margin-after: 4em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: .2%;
}

@media (max-width : 767px) {
	.instructor {
		display: none;
	}
}

.blank {
	visibility: hidden;
	display: block;
	height: 3%;
	color: #fff;
	border: none;
	margin: 3% 0% 3% 0%;
    -webkit-margin-before: 4em;
    -webkit-margin-after: 4em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: .2%;
}

div .row {
	display: block;
}

  .full-width {
  	width: 100%;
  }


.big-full-image {
	display: block;
	border-bottom: 2px #0a7587 solid;
	padding-top: 0px;
	margin-top: 0px !important;
}

.big-full-image-no-band {
	display: block;
	margin: 60px 0;
}


.big-full-image-lower-band {
	display: block;
	border-bottom: 2px #0a7587 solid;
	margin: 60px 0;
}


@media (max-width : 640px) {
.big-full-image, .big-full-image img {
	max-height: 300px;
	min-height: 250px !important; 
	width: auto;
	height: cover;
	background-size: cover;
	position: center;
	overflow: hidden;
	display: relative;
	border-top: none;
	border-bottom: none;
	margin-top: 0px;
}
}


/* -- Clearfix -- */
  .row:before,
  .row:after {
    content: " ";
    clear: both;
    display: table;
  }

/*--Button--*/
.button {
	color: #717070;
	border: 2px #ffc865 solid;
	background-color: #ffc865;
	padding: 5px 15px;
	border-radius: 4px;
	display: inline-block;
	margin: 15px 0;
}


img {
	width: 100%;

}

@media (max-width : 767px) {
/*	img {
		margin-top: 20px;
	}
	img:first-of-type {
		margin-top: 0;
	}*/
	.three-column .col-xs-12 {
		margin-top: 20px;
	}
	.three-column .col-xs-12:first-of-type {
		margin-top: 0;
	}
}

.slider {
	
}

@media (max-width : 767px) {
.slider {
	margin-top:0px;
}
}

.social {
	width: 20%;
	float: left;
}


.copyright {
	color: #fff;
	margin-top: 5%;
}


/*------links------*/
a { 
  color: #717070;
  text-decoration: none;
}

a:visited {
  color: #717070;
}

a:hover {
  color: #a31aa3;
  text-decoration: none;
}

a:active {
  color: orange;
}
h1 a, h2 a {
	text-decoration: none;
	color: #a31aa3;
	font-weight: 300px;
	display: block;
	font-size: 400%;
}

h2 a, h2 a {
	text-decoration: none;
	color: #a31aa3;
	font-weight: 300px;
	display: block;
	height: auto;
	font-size: 300%;
}


/* ----- =navstructure ----- */
.navbar {
	min-height: 100px;
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-default {
	background-color: #fff;
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: #0a7587;
}
.navbar-nav {
	margin-top: 0;
}
.navbar-toggle {
	margin-top: 30px;
}
 
/* ----- =navigation ----- */
.navbar-nav>li>a {
	font-size: 80%;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #a31aa3;`
}
#top-nav {
   float: right;
   min-width: 20%;
   color: #717070;
}
#top-nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
#top-nav ul li {
  float: left;
  display: block;
  padding: 17px 15px 12px 15px;
}
#top-nav ul li a {
   font-size: 18px;
   color: #ffffff;
   text-decoration:none; 
}
#top-nav ul li a:hover {
   color: #0a7587;
}

#top-nav a { 
  color: #717070;
}

#top-nav a:active {
	color: #717070;
}

#top-nav a:visited {
	color: #717070;
}

.navbar-brand {
	padding: 15px 0 0;
	height: 100px
}

.navbar-brand img {
	padding: 0 15px;
	height: 100%;
	width: auto;
}

@media (max-width : 650px) {
	.navbar-brand {
		margin-top: 0px !important;
	}
}

@media (min-width: 760px) and (max-width: 1300px) {
/*    .navbar-collapse.collapse {
        display: none !important;
        float: right;
    }*/
/*    .navbar-collapse.collapse.in {
        display: block !important;
        float: right;

    }*/
/*    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
        float: right;
    }*/
/*    .navbar-header {
        float:none;
	}	*/

/*	.navbar-brand {
		display: none;
}*/
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    background-color: transparent;
}


    /*--- VIDEO---*/

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	overflow: hidden;
}
 iframe, 
 object,
 embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.form-container {
	margin-bottom: 20px;
}

form {
  /*width: 80%;*/
}

.form-group {
	margin-bottom: 25px;
	position: relative;
}

.contact-info {
	padding-left: 30px;
	margin-top: 30px;
}

.contact-info > div {
	margin: 10px;
	padding: 30px;
	background-color: #efefef;
	border-radius: 6px;
}

@media (max-width : 767px) {
	.contact-info {
		padding-left: 15px;
	}	
}


label {
  color: #666666;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 300;
}

input, textarea {
  width: 100%;
  position: relative;
  padding: 4px 5px;
  outline: none;
  box-shadow: none;
  border: 1px solid #717070;
}

input {
	height: 40px;
}

input[type=image] {
	border: none;
}

input[type=submit],
input[type=reset] {
  width: 60px;
  float: right;
  color: #660066;
  background-color: #fff;
}

div.healcode .header .filters select {
	border: 1px solid #ccc;
	width: 24%;
	border-radius: 3px;
}

div.healcode .filters .checkboxes input[type=checkbox] {
	position: relative;
	width: auto;
	margin: 4px 0 0;
	padding: 0;
	line-height: normal;
	height: auto;
}

div.healcode label {
	font-size: 14px;
}

div.healcode input + label {
	margin-right: 12px;
}

div.healcode table.schedule .schedule_header th {
	background-color: rgba(239, 239, 239, 0.5);
	color: #2a2a2b;
	font-size: 90%;
	padding: 8px 10px;
}

div.healcode table.schedule tbody tr.odd td {
	background-color: #fff;
}

.filters {
	display: none !important;
}

div.healcode div.header h1 {
	margin-bottom: 25px;
	font-weight: 600;
}

div.healcode .header .date_links span.week_links {
	padding: 0;
	border: none;
}

div.healcode .week_links span a {
	font-size: 12px;
	line-height: 28px;
	letter-spacing: 2px;
}

div.healcode .week_links span a:hover {
	background: #0a7587;
}

div.healcode div.header input[type="text"] {
	border: none;
}

div.healcode div.header .date_links .healcode-jump-to-date input {
	padding-left: 40px;
	background-position: 12px 10px;
	width: 10em;
}

div.healcode div.header .date_links .healcode-jump-to-date input[type="text"]:focus {
	box-shadow: none;
	background-color: rgba(239, 239, 239, 0.5);
}

/* healcode signup button */

div.healcode table.schedule a.hc-button {
	background: #a31aa3;
	font-weight: 600;
}

div.healcode table.schedule a.hc-button:hover {
	background: #8a018a;
}

div.healcode table.schedule tbody tr td {
    padding: 12px 10px;
    background: #fff;
    font-size: 14px;
}

.class_info {
	padding: 20px 15px;
}

div.ui-datepicker {
	width: 12em;
}

.ui-datepicker div.ui-datepicker-title {
	font-size: 14px;
}

.ui-datepicker a.ui-datepicker-prev, .ui-datepicker a.ui-datepicker-next {
	height: 1.3em;
}

#hc-ui-datepicker-div .ui-widget-header a.ui-state-hover {
	border: none;
	background: none;
	cursor: pointer;
}

.ui-datepicker thead th {
	font-size: 14px;
}

.ui-datepicker tbody td {
	font-size: 12px;
}

.ui-datepicker tbody td a {
	text-align: center;
}

#hc-ui-datepicker-div.ui-widget-content a.ui-state-default {
	background: rgba(239, 239, 239, 0.5);
}

#hc-ui-datepicker-div.ui-widget-content a.ui-state-highlight {
	border-color: #a31aa3;
	background-color: #a31aa3;
	font-weight: 600;
	color: #fff;
}

div.hc_header {
	background: #0a7587 !important;
}

.semantic-content div.modal-inner {
	background: transparent;
}

.semantic-content div.modal-content {
	border: none;
}

.semantic-content a.modal-close:after {
	top: 73px;
	right: 53px;
	left: inherit;
}

input:focus, textarea:focus {
	border:1px solid #a31aa3;
	outline: none;
	outline-offset: 0;
}

.image-button {
	width: 175px;
	height: auto;
	float: right;
	margin-left: 15px;
}

.textlanding {
	margin-top: 100px;
	margin-bottom: 100px;
}

/* error classes */

input.error, textarea.error{
	outline: none;
	border:1px solid #ffc865;
}

label.error {
	color: #ffc865;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	position: absolute;
	right: 10px;
	top: 48px;
}

/*------=photoswipe gallery------*/

.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}

/*--footer--*/

footer {
	color: #fff;
	/* Set the fixed height of the footer here */
	background-color: #0a7587;
	font-size: 70%;
	text-align: center;
	padding: 80px 0;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer li {
	list-style-type: none;
	display: inline-block;
	margin: 0 10px;
	position: relative;
}

footer li:after {
	content: '•';
	position: absolute;
	right: -15px;
	top: 1px;
}

footer li:last-of-type:after {
	display: none;
}

footer p {
	color: #fff;
	font-size: 80%;
	padding-top: 20px;
}

footer a { 
  color: #fff;
  display: block;
}

footer a:hover, footer a:visited, footer a {
   color: #fff;
}
